<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Cluster Analyser</title>
        <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Cluster Analyser</h1>
        <div class="fileSel window">
            <h3>Load File</h3>
            <table class="tableFix">
                <tr>
                    <td>
                        <form enctype=multipart/form-data method=post action="{{ url_for('upload_file')}}">
                                <label for="fastaSel">Fasta file:</label>
                                <input type="file" id="fastaSel" name="file" accept=".fasta, .fna, .ffn, .faa, .frn, .fa">
                                <input type="submit" value="Upload">
                        </form>
                    </td>
                    <td>
                        <p id="fileStatus">{{file_status}}</p>
                    </td>
                  </tr>
            </table>
        </div>
        <table class="tableFix">
            <tr>
                <td>
                    <div class="graphWindow clearfix window">
                        <h3>Graph</h3>
                        <select class="graphTypeSel" id="graphTypeSel" onchange="graphTypeChange()">
                            <option value=0>Fragment Length</option>
                            <option value=1>Minima</option>
                            <option value=2>Optimization</option>
                        </select>
                        <br>
                        <div class="graphWindow">
                            <h2 class="graphElement" id="graphTitle">Fragment Length Histogram</h2>
                            <table class=slider100>
                                <tr>
                                    <td>Current: <span id="sliderValue">50</span></td>
                                    <td class="slider"><input type="range" id="fragmentRangeSlider" class="slider100" min=15 max=60 oninput="slider()"></td>
                                </tr>
                            </table>
                            <div id ="chart">{{chartEmpty}}</div>
                        </div>
                    </div>
                </td>
                <td id="options">
                    <div class="options clearfix">
                        <div class="searchSettings window">
                            <h3>Search Settings</h3>
                            <table>
                                <tr>
                                    <td><input type="checkbox" id="caseSensitiveChkbx"></td>
                                    <td>Case Sensitive</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Search Pattern</td>
                                    <td><input type="text" id="searchPatternTxt" value="CG"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Minimum</td>
                                    <td><input type="text" id="minimumTxt" value=15></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Maximum</td>
                                    <td><input type="text" id="maximumTxt" value=60></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Step Size</td>
                                    <td><input type="text" id="stepSizeTxt" value=5></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="smoothingFactorChkbx" checked></td>
                                    <td>Smoothing Factor</td>
                                    <td><input type="text" id="smoothingFactorTxt" value=0></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Graphed</td>
                                    <td><input type="text" id="graphedTxt" value=30></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button id="ApplyBtn" onclick="sendSearchOptions()">Apply</button></td>
                                    <td><button id="ResetBtn" onclick="resetBtn()">Reset</button></td>
                                </tr>
                            </table>
                        </div>
                        <div class="findMinimum window">
                            <h3>Find Minimum (inactive)</h3>
                            <table>
                                <tr>
                                    <td>Lower Bound</td>
                                    <td><input type="text" id="lowerBoundTxt"></td>
                                    <td><button id="lowerBoundGrabBtn">Grab</button></td>
                                </tr>
                                <tr>
                                    <td>Upper Bound</td>
                                    <td><input type="text" id="upperBoundTxt"></td>
                                    <td><button id="upperBoundGrabBtn">Grab</button></td>
                                </tr>
                                <tr>
                                    <td><button id="clearBtn" onclick="clearBtn()">Clear</button></td>
                                    <td><button id="findBtn">Find</button><button id="findAllBtn">Find All</button></td>
                                    <td><button id="cancelBtn">Cancel</button></td>
                                </tr>
                            </table>
                        </div>
                        <div class="setDomain window">
                            <h3>Set Domain (inactive)</h3>
                            <table>
                                <tr>
                                    <td>Minimum</td>
                                    <td><input type="text" id="domainMinimumTxt" value="1.7976931348623157E308"></td>
                                </tr>
                                <tr>
                                    <td>Maximum</td>
                                    <td><input type="text" id="domainMaximumTxt" value="0.0"></td>
                                </tr>
                                <tr>
                                    <td><button id="setDomainBtn">Set Domain</button></td>
                                    <td><button id="resetDomainBtn" onclick="resetDomainBtn()">Reset Domain</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </body>
    <script>
        Plotly.newPlot("chart", {{JSONFragmentSize|safe}})
    </script>
</html>